In [198]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import RFE
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn import linear_model

In [199]:
results23_24 = pd.read_csv("C:/Users/arnav/Desktop/foot-board/src/data/results23-24.csv")
results22_23 = pd.read_csv("C:/Users/arnav/Desktop/foot-board/src/data/results22-23.csv")
results21_22 = pd.read_csv("C:/Users/arnav/Desktop/foot-board/src/data/results21-22.csv")
results20_21 = pd.read_csv("C:/Users/arnav/Desktop/foot-board/src/data/results20-21.csv")

In [200]:
results20_21.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
3,E0,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
4,E0,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97

In [201]:
final_dataset = pd.concat([results22_23])
final_dataset.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86

In [202]:
def result(HG, AG):
    if HG > AG:
        return -1
    elif HG == AG:
        return 0
    elif HG < AG:
        return 1
final_dataset["Result"] = final_dataset.apply(lambda row : result(row.FTHG,row.FTAG),axis=1)
final_dataset

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,Result
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85,1
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99,0
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00,-1
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81,-1
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,28/05/2023,16:30,Everton,Bournemouth,1,0,H,0,0,...,-1.00,2.02,1.77,2.10,1.81,2.17,1.92,2.03,1.83,-1
376,E0,28/05/2023,16:30,Leeds,Tottenham,1,4,A,0,1,...,0.25,1.84,2.06,1.83,2.10,1.90,2.14,1.81,2.06,1
377,E0,28/05/2023,16:30,Leicester,West Ham,2,1,H,1,0,...,-0.25,1.75,2.05,1.85,2.06,1.90,2.16,1.82,2.04,-1
378,E0,28/05/2023,16:30,Man United,Fulham,2,1,H,1,1,...,-1.25,1.98,1.92,1.98,1.93,2.07,1.98,1.97,1.89,-1
379,E0,28/05/2023,16:30,Southampton,Liverpool,4,4,D,2,2,...,1.25,1.82,2.08,1.85,2.07,1.96,2.12,1.88,1.98,0

In [203]:
home_data = final_dataset.groupby("HomeTeam").sum()
away_data = final_dataset.groupby("AwayTeam").sum()
home_data['HAS'] = home_data['FTHG'] / 24 # Home Average Scores
home_data['HAC'] = home_data['FTAG'] / 24 # Home Average Conceded
away_data['AAS'] = away_data['FTAG'] / 24 # Away average Scored
away_data['AAC'] = away_data['FTHG'] / 24 # Away Average Conceded
team_data = pd.DataFrame()
team_data['Team'] = home_data.index

team_data = team_data.merge(home_data['HAS'], left_on='Team', right_index=True)
team_data = team_data.merge(home_data['HAC'], left_on='Team', right_index=True)
team_data = team_data.merge(away_data['AAS'], left_on='Team', right_index=True)
team_data = team_data.merge(away_data['AAC'], left_on='Team', right_index=True)
team_data.set_index("Team", inplace=True)
last_season_table= pd.DataFrame(index=team_data.index)
scaler = MinMaxScaler()
team_data = pd.DataFrame(scaler.fit_transform(team_data), columns=team_data.columns, index=team_data.index)
team_data

                     HAS       HAC       AAS       AAC
Team
Arsenal         0.840909  0.555556  1.000000  0.071429
Aston Villa     0.386364  0.407407  0.291667  0.321429
Bournemouth     0.090909  0.666667  0.250000  0.964286
Brentford       0.431818  0.296296  0.500000  0.428571
Brighton        0.477273  0.407407  1.000000  0.571429
Chelsea         0.090909  0.333333  0.291667  0.428571
Crystal Palace  0.113636  0.481481  0.333333  0.357143
Everton         0.000000  0.629630  0.291667  0.500000
Fulham          0.340909  0.703704  0.541667  0.285714
Leeds           0.227273  1.000000  0.458333  0.892857
Leicester       0.159091  0.629630  0.708333  0.892857
Liverpool       0.681818  0.259259  0.750000  0.500000
Man City        1.000000  0.259259  0.958333  0.000000
Man United      0.454545  0.000000  0.458333  0.607143
Newcastle       0.454545  0.148148  0.875000  0.107143
Nott'm Forest   0.250000  0.518519  0.000000  1.000000
Southampton     0.068182  1.000000  0.250000  0.714286
Tottenham       0.477273  0.555556  0.916667  0.785714
West Ham        0.227273  0.518519  0.208333  0.535714
Wolves          0.068182  0.370370  0.041667  0.785714

In [204]:
col_list2 = ['HomeTeam', 'AwayTeam']
data_prep = final_dataset[col_list2]

data_prep = data_prep.merge(team_data['HAS'], left_on='HomeTeam', right_index=True, how='left')
data_prep = data_prep.merge(team_data['HAC'], left_on='HomeTeam', right_index=True, how='left') 
data_prep = data_prep.merge(team_data['AAS'], left_on='AwayTeam', right_index=True, how='left') 
data_prep = data_prep.merge(team_data['AAC'], left_on='AwayTeam', right_index=True, how='left')
data_prep['HAtS'] = (data_prep['HAS'] * data_prep['AAC']); # Home Attack Strength
data_prep['AAtS'] = (data_prep['HAC'] * data_prep['AAS']); # Away Attack Strength
data_prep = data_prep.merge(final_dataset['Result'], left_index=True, right_index=True)
fixture_list = data_prep
data_prep

,HomeTeam,AwayTeam,HAS,HAC,AAS,AAC,HAtS,AAtS,Result
0,Crystal Palace,Arsenal,0.113636,0.481481,1.000000,0.071429,0.008117,0.481481,1
1,Fulham,Liverpool,0.340909,0.703704,0.750000,0.500000,0.170455,0.527778,0
2,Bournemouth,Aston Villa,0.090909,0.666667,0.291667,0.321429,0.029221,0.194444,-1
3,Leeds,Wolves,0.227273,1.000000,0.041667,0.785714,0.178571,0.041667,-1
4,Newcastle,Nott'm Forest,0.454545,0.148148,0.000000,1.000000,0.454545,0.000000,-1
...,...,...,...,...,...,...,...,...,...
375,Everton,Bournemouth,0.000000,0.629630,0.250000,0.964286,0.000000,0.157407,-1
376,Leeds,Tottenham,0.227273,1.000000,0.916667,0.785714,0.178571,0.916667,1
377,Leicester,West Ham,0.159091,0.629630,0.208333,0.535714,0.085227,0.131173,-1
378,Man United,Fulham,0.454545,0.000000,0.541667,0.285714,0.129870,0.000000,-1
379,Southampton,Liverpool,0.068182,1.000000,0.750000,0.500000,0.034091,0.750000,0

In [205]:
rm_col_list = ['HomeTeam','AwayTeam']
col_list = data_prep.columns.values.tolist()
col_list = [x for x in col_list if x not in rm_col_list]

to_use = data_prep[col_list]
X = [x for x in col_list if x != 'Result']
Y = [x for x in col_list if x == 'Result']

to_use

          HAS       HAC       AAS       AAC      HAtS      AAtS  Result
0    0.113636  0.481481  1.000000  0.071429  0.008117  0.481481       1
1    0.340909  0.703704  0.750000  0.500000  0.170455  0.527778       0
2    0.090909  0.666667  0.291667  0.321429  0.029221  0.194444      -1
3    0.227273  1.000000  0.041667  0.785714  0.178571  0.041667      -1
4    0.454545  0.148148  0.000000  1.000000  0.454545  0.000000      -1
..        ...       ...       ...       ...       ...       ...     ...
375  0.000000  0.629630  0.250000  0.964286  0.000000  0.157407      -1
376  0.227273  1.000000  0.916667  0.785714  0.178571  0.916667       1
377  0.159091  0.629630  0.208333  0.535714  0.085227  0.131173      -1
378  0.454545  0.000000  0.541667  0.285714  0.129870  0.000000      -1
379  0.068182  1.000000  0.750000  0.500000  0.034091  0.750000       0

[380 rows x 7 columns]

In [206]:
X_data = to_use.drop('Result', axis=1)
Y_data = to_use['Result']

model= linear_model.PoissonRegressor()
model.fit(X_data, Y_data)
model.score(X_data, Y_data)

ValueError: Some value(s) of y are out of the valid range for family PoissonDistribution

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X_data, Y_data, test_size=0.2, random_state=42)

model1= linear_model.PoissonRegressor()

model1.fit(X_train, Y_train)

MultinomialNB()

In [ ]:
predicted = model1.predict(X_test)
predicted

array([ 1, -1, -1, -1, -1,  1, -1,  1, -1,  1,  1,  1, -1, -1,  1, -1, -1,
       -1, -1, -1, -1, -1, -1,  1, -1, -1,  1, -1,  1, -1, -1,  1, -1,  1,
        1, -1, -1, -1, -1,  1, -1,  1, -1, -1, -1, -1, -1,  1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1], dtype=int64)

In [ ]:
acc_score = accuracy_score(Y_test, predicted)
print("Accuracy score: " + str(acc_score))
scores = cross_val_score(model1, X_train, Y_train, cv=10)
print("Cross val scores")
print(scores)

Accuracy score: 0.5921052631578947
Cross val scores
[0.61290323 0.51612903 0.51612903 0.5483871  0.6        0.63333333
 0.46666667 0.53333333 0.56666667 0.56666667]

In [ ]:
predicted = model1.predict(X_data)
predicted
predictedDF = pd.DataFrame(predicted, columns=['Predicted'])
predictedDF.head()

   Predicted
0          1
1         -1
2         -1
3         -1
4         -1

In [ ]:
to_use = to_use.merge(predictedDF, left_index=True, right_index=True)
fixture_list = fixture_list.merge(predictedDF, left_index=True, right_index=True)
fixture_list

,HomeTeam,AwayTeam,HAS,HAC,AAS,AAC,HAtS,AAtS,Result,Predicted
0,Crystal Palace,Arsenal,0.113636,0.481481,1.000000,0.071429,0.008117,0.481481,1,1
1,Fulham,Liverpool,0.340909,0.703704,0.750000,0.500000,0.170455,0.527778,0,-1
2,Bournemouth,Aston Villa,0.090909,0.666667,0.291667,0.321429,0.029221,0.194444,-1,-1
3,Leeds,Wolves,0.227273,1.000000,0.041667,0.785714,0.178571,0.041667,-1,-1
4,Newcastle,Nott'm Forest,0.454545,0.148148,0.000000,1.000000,0.454545,0.000000,-1,-1
...,...,...,...,...,...,...,...,...,...,...
375,Everton,Bournemouth,0.000000,0.629630,0.250000,0.964286,0.000000,0.157407,-1,-1
376,Leeds,Tottenham,0.227273,1.000000,0.916667,0.785714,0.178571,0.916667,1,1
377,Leicester,West Ham,0.159091,0.629630,0.208333,0.535714,0.085227,0.131173,-1,-1
378,Man United,Fulham,0.454545,0.000000,0.541667,0.285714,0.129870,0.000000,-1,-1
379,Southampton,Liverpool,0.068182,1.000000,0.750000,0.500000,0.034091,0.750000,0,1

In [ ]:
last_season_table['Actual Points'] = 0 
last_season_table['Predicted Points'] = 0 

def make_actual_table(x, ht, at, which):
    if x == -1:
        last_season_table.loc[ht, which] += 3
    elif x == 0:
        last_season_table.loc[ht, which] += 1
        last_season_table.loc[at, which] += 1
    elif x == 1:
        last_season_table.loc[at, which] += 3

fixture_list.apply(lambda x: make_actual_table(x.Result, x.HomeTeam, x.AwayTeam, 'Actual Points'), axis=1)
fixture_list.apply(lambda x: make_actual_table(x.Predicted, x.HomeTeam, x.AwayTeam, 'Predicted Points'), axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
375    None
376    None
377    None
378    None
379    None
Length: 380, dtype: object

In [ ]:
actual_index = last_season_table.sort_values(by='Actual Points', ascending=0).index
predicted_index = last_season_table.sort_values(by='Predicted Points', ascending=0).index

last_season_table.sort_values(by='Actual Points', ascending=0)

                Actual Points  Predicted Points
Team
Man City                   89                93
Arsenal                    84                93
Man United                 75                60
Newcastle                  71                87
Liverpool                  67                69
Brighton                   62                72
Aston Villa                61                57
Tottenham                  60                63
Brentford                  59                60
Fulham                     52                57
Crystal Palace             45                48
Chelsea                    44                51
Wolves                     41                48
West Ham                   40                48
Bournemouth                39                39
Nott'm Forest              38                48
Everton                    36                36
Leicester                  34                48
Leeds                      31                36
Southampton                25                27

In [ ]:
results23_24["Result"] = results23_24.apply(lambda row: result(row.FTHG,row.FTAG),axis=1)
results23_24.append(final_dataset,sort="False")
results23_24

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,Result
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95,1
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92,-1
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91,0
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86,-1
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,E0,29/10/2023,13:00,West Ham,Everton,0,1,A,0,0,...,-0.50,2.09,1.84,2.09,1.85,2.10,1.86,2.06,1.82,1
96,E0,29/10/2023,14:00,Aston Villa,Luton,3,1,H,1,0,...,-1.50,1.97,1.96,1.97,1.94,1.98,2.06,1.92,1.95,-1
97,E0,29/10/2023,14:00,Brighton,Fulham,1,1,D,1,0,...,-1.00,2.05,1.88,2.08,1.85,2.12,1.98,2.02,1.85,0
98,E0,29/10/2023,14:00,Liverpool,Nott'm Forest,3,0,H,2,0,...,-1.75,1.93,2.00,1.84,2.08,1.93,2.16,1.83,2.03,-1
99,E0,29/10/2023,15:30,Man United,Man City,0,3,A,0,1,...,1.00,1.91,2.02,1.88,2.05,1.97,2.12,1.86,2.02,1

In [ ]:
curr_home_data = results23_24.groupby('HomeTeam').sum()
curr_away_data = results23_24.groupby('AwayTeam').sum()
curr_home_data['HAS'] = curr_home_data['FTHG'] / 19# Home Average Scores
curr_home_data['HAC'] = curr_home_data['FTAG'] / 19# Home Average Conceded
curr_away_data['AAS'] = curr_away_data['FTAG'] / 19 # Away average Scored
curr_away_data['AAC'] = curr_away_data['FTHG'] / 19 # Away Average Conceded
curr_team_data = pd.DataFrame()
curr_team_data['Team'] = curr_home_data.index

curr_team_data = curr_team_data.merge(curr_home_data['HAS'], left_on='Team', right_index=True)
curr_team_data = curr_team_data.merge(curr_home_data['HAC'], left_on='Team', right_index=True)

curr_team_data = curr_team_data.merge(curr_away_data['AAS'], left_on='Team', right_index=True)
curr_team_data = curr_team_data.merge(curr_away_data['AAC'], left_on='Team', right_index=True)

curr_team_data.set_index("Team", inplace=True)
curr_season_table= pd.DataFrame(index=curr_team_data.index)
curr_team_data = team_data.merge(curr_team_data, on=['HAS', 'HAC', 'AAS', 'AAC'], left_index=True,
                                      right_index=True, how='outer')
curr_team_data = pd.DataFrame(scaler.fit_transform(curr_team_data), columns=curr_team_data.columns, index=curr_team_data.index)
curr_team_data

                       HAS       HAC       AAS       AAC
Team
Arsenal           0.840909  0.555556  1.000000  0.071429
Aston Villa       0.386364  0.407407  0.291667  0.321429
Bournemouth       0.090909  0.666667  0.250000  0.964286
Brentford         0.431818  0.296296  0.500000  0.428571
Brighton          0.477273  0.407407  1.000000  0.571429
Burnley           0.210526  0.842105  0.210526  0.473684
Chelsea           0.090909  0.333333  0.291667  0.428571
Crystal Palace    0.113636  0.481481  0.333333  0.357143
Everton           0.000000  0.629630  0.291667  0.500000
Fulham            0.340909  0.703704  0.541667  0.285714
Leeds             0.227273  1.000000  0.458333  0.892857
Leicester         0.159091  0.629630  0.708333  0.892857
Liverpool         0.681818  0.259259  0.750000  0.500000
Luton             0.157895  0.315789  0.315789  0.736842
Man City          1.000000  0.259259  0.958333  0.000000
Man United        0.454545  0.000000  0.458333  0.607143
Newcastle         0.454545  0.148148  0.875000  0.107143
Nott'm Forest     0.250000  0.518519  0.000000  1.000000
Sheffield United  0.210526  0.789474  0.157895  0.736842
Southampton       0.068182  1.000000  0.250000  0.714286
Tottenham         0.477273  0.555556  0.916667  0.785714
West Ham          0.227273  0.518519  0.208333  0.535714
Wolves            0.068182  0.370370  0.041667  0.785714

In [ ]:
col_list2 = ['HomeTeam', 'AwayTeam']
data_prep = results23_24[col_list2]

data_prep = data_prep.merge(curr_team_data['HAS'], left_on='HomeTeam', right_index=True, how='left')
data_prep = data_prep.merge(curr_team_data['HAC'], left_on='HomeTeam', right_index=True, how='left') 
data_prep = data_prep.merge(curr_team_data['AAS'], left_on='AwayTeam', right_index=True, how='left') 
data_prep = data_prep.merge(curr_team_data['AAC'], left_on='AwayTeam', right_index=True, how='left') 

data_prep['HAtS'] = data_prep['HAS'] * data_prep['AAC']; # Home Attack Strength
data_prep['AAtS'] = data_prep['HAC'] * data_prep['AAS']; # Away Attack Strength

print(data_prep.shape)

data_prep = data_prep.merge(results23_24['Result'], left_index=True, right_index=True)

fixture_list = data_prep
data_prep

(100, 8)

,HomeTeam,AwayTeam,HAS,HAC,AAS,AAC,HAtS,AAtS,Result
0,Burnley,Man City,0.210526,0.842105,0.958333,0.000000,0.000000,0.807018,1
1,Arsenal,Nott'm Forest,0.840909,0.555556,0.000000,1.000000,0.840909,0.000000,-1
2,Bournemouth,West Ham,0.090909,0.666667,0.208333,0.535714,0.048701,0.138889,0
3,Brighton,Luton,0.477273,0.407407,0.315789,0.736842,0.351675,0.128655,-1
4,Everton,Fulham,0.000000,0.629630,0.541667,0.285714,0.000000,0.341049,1
...,...,...,...,...,...,...,...,...,...
95,West Ham,Everton,0.227273,0.518519,0.291667,0.500000,0.113636,0.151235,1
96,Aston Villa,Luton,0.386364,0.407407,0.315789,0.736842,0.284689,0.128655,-1
97,Brighton,Fulham,0.477273,0.407407,0.541667,0.285714,0.136364,0.220679,0
98,Liverpool,Nott'm Forest,0.681818,0.259259,0.000000,1.000000,0.681818,0.000000,-1
99,Man United,Man City,0.454545,0.000000,0.958333,0.000000,0.000000,0.000000,1

In [ ]:
rm_col_list = ['HomeTeam','AwayTeam']
col_list = data_prep.columns.values.tolist()
col_list = [x for x in col_list if x not in rm_col_list]

to_use = data_prep[col_list]
X = [x for x in col_list if x != 'Result']
Y = [x for x in col_list if x == 'Result']

X_data = to_use.drop('Result', axis=1)
Y_data = to_use['Result']

to_use

         HAS       HAC       AAS       AAC      HAtS      AAtS  Result
0   0.210526  0.842105  0.958333  0.000000  0.000000  0.807018       1
1   0.840909  0.555556  0.000000  1.000000  0.840909  0.000000      -1
2   0.090909  0.666667  0.208333  0.535714  0.048701  0.138889       0
3   0.477273  0.407407  0.315789  0.736842  0.351675  0.128655      -1
4   0.000000  0.629630  0.541667  0.285714  0.000000  0.341049       1
..       ...       ...       ...       ...       ...       ...     ...
95  0.227273  0.518519  0.291667  0.500000  0.113636  0.151235       1
96  0.386364  0.407407  0.315789  0.736842  0.284689  0.128655      -1
97  0.477273  0.407407  0.541667  0.285714  0.136364  0.220679       0
98  0.681818  0.259259  0.000000  1.000000  0.681818  0.000000      -1
99  0.454545  0.000000  0.958333  0.000000  0.000000  0.000000       1

[100 rows x 7 columns]

In [ ]:
predicted = model1.predict(X_data)
predictedDF = pd.DataFrame(predicted, columns=['Predicted'])
predictedDF.head()

   Predicted
0          1
1         -1
2         -1
3         -1
4          1

In [ ]:
to_use = to_use.merge(predictedDF, left_index=True, right_index=True)
fixture_list = fixture_list.merge(predictedDF, left_index=True, right_index=True)
fixture_list

,HomeTeam,AwayTeam,HAS,HAC,AAS,AAC,HAtS,AAtS,Result,Predicted
0,Burnley,Man City,0.210526,0.842105,0.958333,0.000000,0.000000,0.807018,1,1
1,Arsenal,Nott'm Forest,0.840909,0.555556,0.000000,1.000000,0.840909,0.000000,-1,-1
2,Bournemouth,West Ham,0.090909,0.666667,0.208333,0.535714,0.048701,0.138889,0,-1
3,Brighton,Luton,0.477273,0.407407,0.315789,0.736842,0.351675,0.128655,-1,-1
4,Everton,Fulham,0.000000,0.629630,0.541667,0.285714,0.000000,0.341049,1,1
...,...,...,...,...,...,...,...,...,...,...
95,West Ham,Everton,0.227273,0.518519,0.291667,0.500000,0.113636,0.151235,1,-1
96,Aston Villa,Luton,0.386364,0.407407,0.315789,0.736842,0.284689,0.128655,-1,-1
97,Brighton,Fulham,0.477273,0.407407,0.541667,0.285714,0.136364,0.220679,0,-1
98,Liverpool,Nott'm Forest,0.681818,0.259259,0.000000,1.000000,0.681818,0.000000,-1,-1
99,Man United,Man City,0.454545,0.000000,0.958333,0.000000,0.000000,0.000000,1,-1

In [ ]:
curr_season_table['Actual Points'] = 0 
curr_season_table['Predicted Points'] = 0 

def make_actual_table(x, ht, at, which):
    if x == -1:
        curr_season_table.loc[ht, which] += 3
    elif x == 0:
        curr_season_table.loc[ht, which] += 1
        curr_season_table.loc[at, which] += 1
    elif x == 1:
        curr_season_table.loc[at, which] += 3

fixture_list.apply(lambda x: make_actual_table(x.Result, x.HomeTeam, x.AwayTeam, 'Actual Points'), axis=1)
fixture_list.apply(lambda x: make_actual_table(x.Predicted, x.HomeTeam, x.AwayTeam, 'Predicted Points'), axis=1)

0     None
1     None
2     None
3     None
4     None
      ...
95    None
96    None
97    None
98    None
99    None
Length: 100, dtype: object

In [ ]:
actual_index = curr_season_table.sort_values(by='Actual Points', ascending =0).index
predicted_index = curr_season_table.sort_values(by='Predicted Points', ascending =0).index
curr_season_table.sort_values(by='Actual Points', ascending =0)

                  Actual Points  Predicted Points
Team
Tottenham                    26                18
Arsenal                      24                30
Man City                     24                24
Liverpool                    23                15
Aston Villa                  22                15
Brighton                     17                18
Newcastle                    17                24
Man United                   15                18
West Ham                     14                 9
Brentford                    13                15
Chelsea                      12                15
Crystal Palace               12                12
Fulham                       12                15
Wolves                       12                 9
Everton                      10                 9
Nott'm Forest                10                12
Bournemouth                   6                12
Luton                         5                12
Burnley                       4                 9
Sheffield United              1                 9

In [ ]:
curr_team_data = curr_team_data.rename(index={
    'Sheffield United':'Sheffield Utd',
    'Man United': 'Man Utd',
    'Tottenham':'Spurs',
    "Nott'm Forest" : "Nottingham Forest"
})
print(curr_team_data.index.unique())
curr_team_data

Index(['Arsenal', 'Aston Villa', 'Bournemouth', 'Brentford', 'Brighton',
       'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Leeds',
       'Leicester', 'Liverpool', 'Luton', 'Man City', 'Man Utd', 'Newcastle',
       'Nottingham Forest', 'Sheffield Utd', 'Southampton', 'Spurs',
       'West Ham', 'Wolves'],
      dtype='object', name='Team')

                        HAS       HAC       AAS       AAC
Team
Arsenal            0.840909  0.555556  1.000000  0.071429
Aston Villa        0.386364  0.407407  0.291667  0.321429
Bournemouth        0.090909  0.666667  0.250000  0.964286
Brentford          0.431818  0.296296  0.500000  0.428571
Brighton           0.477273  0.407407  1.000000  0.571429
Burnley            0.210526  0.842105  0.210526  0.473684
Chelsea            0.090909  0.333333  0.291667  0.428571
Crystal Palace     0.113636  0.481481  0.333333  0.357143
Everton            0.000000  0.629630  0.291667  0.500000
Fulham             0.340909  0.703704  0.541667  0.285714
Leeds              0.227273  1.000000  0.458333  0.892857
Leicester          0.159091  0.629630  0.708333  0.892857
Liverpool          0.681818  0.259259  0.750000  0.500000
Luton              0.157895  0.315789  0.315789  0.736842
Man City           1.000000  0.259259  0.958333  0.000000
Man Utd            0.454545  0.000000  0.458333  0.607143
Newcastle          0.454545  0.148148  0.875000  0.107143
Nottingham Forest  0.250000  0.518519  0.000000  1.000000
Sheffield Utd      0.210526  0.789474  0.157895  0.736842
Southampton        0.068182  1.000000  0.250000  0.714286
Spurs              0.477273  0.555556  0.916667  0.785714
West Ham           0.227273  0.518519  0.208333  0.535714
Wolves             0.068182  0.370370  0.041667  0.785714

In [ ]:
curr_fixtures = pd.read_csv("C:/Users/arnav/Desktop/foot-board/src/data/epl-2023-GMTStandardTime.csv",usecols=["HomeTeam","AwayTeam"])
curr_fixtures = curr_fixtures.merge(curr_team_data['HAS'], left_on='HomeTeam', right_index=True, how='left')
curr_fixtures = curr_fixtures.merge(curr_team_data['HAC'], left_on='HomeTeam', right_index=True, how='left') 
curr_fixtures = curr_fixtures.merge(curr_team_data['AAS'], left_on='AwayTeam', right_index=True, how='left') 
curr_fixtures = curr_fixtures.merge(curr_team_data['AAC'], left_on='AwayTeam', right_index=True, how='left') 

curr_fixtures['HAtS'] = curr_fixtures['HAS'] * curr_fixtures['AAC']; # Home Attack Strength
curr_fixtures['AAtS'] = curr_fixtures['HAC'] * curr_fixtures['AAS']; # Away Attack Strength

print(curr_fixtures.shape)

fixture_list = curr_fixtures
curr_fixtures

(380, 8)

,HomeTeam,AwayTeam,HAS,HAC,AAS,AAC,HAtS,AAtS
0,Burnley,Man City,0.210526,0.842105,0.958333,0.000000,0.000000,0.807018
1,Arsenal,Nottingham Forest,0.840909,0.555556,0.000000,1.000000,0.840909,0.000000
2,Bournemouth,West Ham,0.090909,0.666667,0.208333,0.535714,0.048701,0.138889
3,Brighton,Luton,0.477273,0.407407,0.315789,0.736842,0.351675,0.128655
4,Everton,Fulham,0.000000,0.629630,0.541667,0.285714,0.000000,0.341049
...,...,...,...,...,...,...,...,...
375,Crystal Palace,Aston Villa,0.113636,0.481481,0.291667,0.321429,0.036526,0.140432
376,Liverpool,Wolves,0.681818,0.259259,0.041667,0.785714,0.535714,0.010802
377,Luton,Fulham,0.157895,0.315789,0.541667,0.285714,0.045113,0.171053
378,Man City,West Ham,1.000000,0.259259,0.208333,0.535714,0.535714,0.054012
379,Sheffield Utd,Spurs,0.210526,0.789474,0.916667,0.785714,0.165414,0.723684

In [ ]:
col_list = [x for x in col_list if x not in ['Result']]
curr_fixtures = curr_fixtures[col_list]
curr_fixtures

          HAS       HAC       AAS       AAC      HAtS      AAtS
0    0.210526  0.842105  0.958333  0.000000  0.000000  0.807018
1    0.840909  0.555556  0.000000  1.000000  0.840909  0.000000
2    0.090909  0.666667  0.208333  0.535714  0.048701  0.138889
3    0.477273  0.407407  0.315789  0.736842  0.351675  0.128655
4    0.000000  0.629630  0.541667  0.285714  0.000000  0.341049
..        ...       ...       ...       ...       ...       ...
375  0.113636  0.481481  0.291667  0.321429  0.036526  0.140432
376  0.681818  0.259259  0.041667  0.785714  0.535714  0.010802
377  0.157895  0.315789  0.541667  0.285714  0.045113  0.171053
378  1.000000  0.259259  0.208333  0.535714  0.535714  0.054012
379  0.210526  0.789474  0.916667  0.785714  0.165414  0.723684

[380 rows x 6 columns]

In [ ]:
predicted = model1.predict(curr_fixtures)
predicted
predictedDF = pd.DataFrame(predicted, columns=['Predicted'])
predictedDF.head()

   Predicted
0          1
1         -1
2         -1
3         -1
4          1

In [ ]:
fixture_list = fixture_list.merge(predictedDF, left_index=True, right_index=True)
fixture_list

,HomeTeam,AwayTeam,HAS,HAC,AAS,AAC,HAtS,AAtS,Predicted
0,Burnley,Man City,0.210526,0.842105,0.958333,0.000000,0.000000,0.807018,1
1,Arsenal,Nottingham Forest,0.840909,0.555556,0.000000,1.000000,0.840909,0.000000,-1
2,Bournemouth,West Ham,0.090909,0.666667,0.208333,0.535714,0.048701,0.138889,-1
3,Brighton,Luton,0.477273,0.407407,0.315789,0.736842,0.351675,0.128655,-1
4,Everton,Fulham,0.000000,0.629630,0.541667,0.285714,0.000000,0.341049,1
...,...,...,...,...,...,...,...,...,...
375,Crystal Palace,Aston Villa,0.113636,0.481481,0.291667,0.321429,0.036526,0.140432,-1
376,Liverpool,Wolves,0.681818,0.259259,0.041667,0.785714,0.535714,0.010802,-1
377,Luton,Fulham,0.157895,0.315789,0.541667,0.285714,0.045113,0.171053,-1
378,Man City,West Ham,1.000000,0.259259,0.208333,0.535714,0.535714,0.054012,-1
379,Sheffield Utd,Spurs,0.210526,0.789474,0.916667,0.785714,0.165414,0.723684,1

In [ ]:
def determine_winner(row):
    if row['Predicted'] == 1:
        return row['AwayTeam']
    elif row['Predicted'] == -1:
        return row['HomeTeam']
    else:
        return 'Draw'
fixture_list["Predicted Winner"] = fixture_list.apply(determine_winner,axis=1)
fixture_list

,HomeTeam,AwayTeam,HAS,HAC,AAS,AAC,HAtS,AAtS,Predicted,Predicted Winner
0,Burnley,Man City,0.210526,0.842105,0.958333,0.000000,0.000000,0.807018,1,Man City
1,Arsenal,Nottingham Forest,0.840909,0.555556,0.000000,1.000000,0.840909,0.000000,-1,Arsenal
2,Bournemouth,West Ham,0.090909,0.666667,0.208333,0.535714,0.048701,0.138889,-1,Bournemouth
3,Brighton,Luton,0.477273,0.407407,0.315789,0.736842,0.351675,0.128655,-1,Brighton
4,Everton,Fulham,0.000000,0.629630,0.541667,0.285714,0.000000,0.341049,1,Fulham
...,...,...,...,...,...,...,...,...,...,...
375,Crystal Palace,Aston Villa,0.113636,0.481481,0.291667,0.321429,0.036526,0.140432,-1,Crystal Palace
376,Liverpool,Wolves,0.681818,0.259259,0.041667,0.785714,0.535714,0.010802,-1,Liverpool
377,Luton,Fulham,0.157895,0.315789,0.541667,0.285714,0.045113,0.171053,-1,Luton
378,Man City,West Ham,1.000000,0.259259,0.208333,0.535714,0.535714,0.054012,-1,Man City
379,Sheffield Utd,Spurs,0.210526,0.789474,0.916667,0.785714,0.165414,0.723684,1,Spurs

In [ ]:
final_predicted_table= pd.DataFrame(index=fixture_list.HomeTeam.unique())
final_predicted_table['Predicted Points'] = 0

In [ ]:
final_predicted_table['Predicted Points'] = 0 

def make_actual_table(x, ht, at, which):
    if x == -1:
        final_predicted_table.loc[ht, which] += 3
    elif x == 0:
        final_predicted_table.loc[ht, which] += 1
        final_predicted_table.loc[at, which] += 1
    elif x == 1:
        final_predicted_table.loc[at, which] += 3

fixture_list.apply(lambda x: make_actual_table(x.Predicted, x.HomeTeam, x.AwayTeam, 'Predicted Points'), axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
375    None
376    None
377    None
378    None
379    None
Length: 380, dtype: object

In [ ]:
final_predicted_table=final_predicted_table.sort_values('Predicted Points', ascending=0)
final_predicted_table

                   Predicted Points
Arsenal                          93
Man City                         93
Newcastle                        84
Brighton                         69
Liverpool                        69
Spurs                            63
Aston Villa                      57
Brentford                        57
Man Utd                          57
Fulham                           54
Luton                            51
Chelsea                          51
Crystal Palace                   48
West Ham                         48
Nottingham Forest                48
Wolves                           48
Sheffield Utd                    39
Bournemouth                      39
Everton                          36
Burnley                          36

In [ ]:
fixtures = pd.read_csv("C:/Users/arnav/Desktop/foot-board/src/data/epl-2023-GMTStandardTime.csv",usecols=["Match Number",'HomeTeam',"AwayTeam",'Date',"Location"])
fixtures['Match Number'] = fixtures["Match Number"]-1
fixtures=fixtures.sort_values("Match Number",ascending=1)

fixtures[35:45]
fixture_list=fixture_list.merge(fixtures["Date"], left_index=True, right_index=True)
# fixture_list

In [ ]:
fixtures

,Match Number,Date,Location,HomeTeam,AwayTeam
0,0,11/08/2023 20:00,Turf Moor,Burnley,Man City
1,1,12/08/2023 13:00,Emirates Stadium,Arsenal,Nottingham Forest
2,2,12/08/2023 15:00,Vitality Stadium,Bournemouth,West Ham
3,3,12/08/2023 15:00,Amex Stadium,Brighton,Luton
4,4,12/08/2023 15:00,Goodison Park,Everton,Fulham
...,...,...,...,...,...
375,375,19/05/2024 16:00,Selhurst Park,Crystal Palace,Aston Villa
376,376,19/05/2024 16:00,Anfield,Liverpool,Wolves
377,377,19/05/2024 16:00,Kenilworth Road,Luton,Fulham
378,378,19/05/2024 16:00,Etihad Stadium,Man City,West Ham
379,379,19/05/2024 16:00,Bramall Lane,Sheffield Utd,Spurs